<!--
  label: iGoMoon Coding Task
  templateType: page
  isAvailableForNewContent: true
  enableDomainStylesheets: false
-->

{% extends './layouts/base.html' %}



{% block header %}

	{% global_partial path="./globals/header.html" %}

	{% set showHeader = true %}
	{% if showHeader %}
		{% include './partials/jumbotron.html' %}
	{% endif %}

{% endblock header %}

{% block body %}

	{% dnd_area "body_dnd_area" %}

		{% dnd_section %}
			{% dnd_column %}

				{% dnd_row %}
					{% dnd_module "module_form_optin_20201119",
						path="./modules/form-optin",
						label="Form Optin #1"
					%}
					{% end_dnd_module %}
				{% end_dnd_row %}

				
				{% dnd_row %}
					{% dnd_module "module_form_optin_20201449",
						path="./modules/form-optin",
						label="Form Optin #2",
						heading="kjfbdhjsbfhjvsdhjv"
					%}
					{% end_dnd_module %}
				{% end_dnd_row %}

			{% end_dnd_column %}
		{% end_dnd_section %}

	{% end_dnd_area %}

{% endblock body %}

{% block footer %}
	{% global_partial path="./globals/footer.html" %}
{% endblock footer %}

{% block inject_styles %}
{% endblock inject_styles %}